/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap");

html {
  scroll-behavior: smooth !important;
}

:root {
  --text-font: "Lato", sans-serif;
  --title-font: "Great Vibes", cursive;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  overflow-x: hidden;
  min-height: 200vh;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header*/
header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  font-family: var(--text-font);
}

header.sticky {
  padding: 15px 100px;
  background-color: rgb(151, 116, 188);
}

header.stickt ul li a {
  color: black;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600px;
  transition: 0.6s;
  font-size: 1.4rem;
}

header .toggle-btn {
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 300px;
  background-color: rgba(169, 23, 209, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  margin: 1.2rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 2rem;
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li a {
  color: black;
}

/*Intro-section*/
#intro-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/roxoabstrato.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.intro-content {
  text-align: center;
  padding: 10%;
}

.intro-content h1 {
  font-family: var(--title-font);
  font-size: 10rem;
  color: white;
}

.intro-content h3 {
  padding-top: 4.3%;
  font-family: var(--text-font);
  font-size: 2.9rem;
  color: white;
}

.intro-content i,
.home-content-cv i {
  width: 10rem;
  margin: 3%;
}

.social-icons i:hover,
.home-content i:hover,
.formation-content i:hover,
#call-social-container i:hover,
.sci i:hover {
  transition: ease-in-out 0.2s;
  text-shadow: 2px 2px rgb(139, 50, 247);
}

/*
#intro-container::after{
     content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(104, 68, 137);
    opacity: 0.5;
    z-index: -1;
}
*/

/*Home-section*/
#home-container {
  background-color: #f0f1ff;
  height: 100vh;
  width: 100vw;
  padding: 10% 4% 10% 4%;
  column-count: 2;
  column-gap: 50px;
  column-rule: 4px dotted rgb(112, 57, 164);
}

.home-content-profile img {
  border-radius: 44%;
  width: 55%;
  margin-left: 20%;
}

.home-content-profile h1 {
  font-family: var(--title-font);
  font-size: 10rem;
}

.home-content-profile p {
  font-size: 1.5rem;
  width: 60%;
  text-align: justify;
  line-height: 2.4rem;
}

.home-content-cv i {
  padding-left: 4%;
}

.home-content-cv p {
  font-size: 1.5rem;
  position: relative;
  display: inline;
  width: 50%;
}

/*Formation-container*/
#formation-container {
  height: 100vh;
  width: 100vw;
  background-color: #e0d2ef;
  padding: 8% 4% 8% 4%;
}

.formation-content h2 {
  font-size: 5rem;
  text-align: right;
  padding-right: 5%;
}

.formation-content i {
  position: fixed;
  bottom: 40px;
  right: 50px;
}

.formation-content-detail {
  padding-top: 17%;
  column-count: 2;
  column-gap: 50px;
  column-rule: 4px dotted rgb(112, 57, 164);
}

.formation-content-detail h3 {
  font-size: 3rem;
  text-align: center;
}

.formation-content-detail p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: center;
  padding: 4.3% 10%;
}

/*Projects-container*/
#projects-container {
  background-color: #f0f1ff;
  height: 100vh;
  width: 100vw;
  padding: 8% 4% 8% 4%;
}

.projects-content h2,
.contact-content h2 {
  font-size: 5rem;
  text-align: center;
}

.projects-content-resume,
.contact-content-resume {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: justify;
  padding: 3% 10% 0%;
}

/*Card*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding-block: 5rem;
  margin: 3%;
}

.card-content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-image {
  position: relative;
  background-color: rgb(151, 109, 179);
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}

.card-data {
  background-color: rgb(235, 219, 240);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card-img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card-shadow {
  width: 200px;
  height: 200px;
  background-color: bisque;
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card-name {
  font-family: var(--text-font);
  font-size: 1.4rem;
  color: rgb(49, 49, 137);
  margin-bottom: 0.75rem;
}

.card-description {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1.75rem;
}

.card-button {
  display: inline-block;
  background-color: rgb(178, 174, 223);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: black;
  font-weight: 600;
  margin-bottom: 1.75rem;
  cursor: pointer;
}

/*Swiper class*/
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  visibility: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 3.5rem;
}

.swiper-button-prev {
  padding-left: -1rem;
  left: 0;
}

.swiper-button-next {
  right: -1rem !important;
}

/*Projects pages*/
#Project-one,
#Project-two,
#Project-three,
#Project-four {
  height: 100vh;
  width: 100vw;
  background-color: #f0f1ff;
  padding: 8% 4% 8% 4%;
  border-top: 40px solid plum;
  border-bottom: 40px solid plum;
}

#Project-one h2,
#Project-two h2,
#Project-three h2,
#Project-four h2 {
  font-family: var(--text-font);
  font-size: 3.5rem;
  text-align: center;
}

.Project-content {
  padding-top: 5%;
  text-align: center;
  column-count: 2;
  column-gap: 20px;
  column-rule: 4px dotted rgb(112, 57, 164);
}

.Project-content p {
  font-family: var(--text-font);
  font-size: 1.4rem;
  padding-top: 2%;
}

.Project-content img {
  width: 40%;
  height: 40%;
  display: inline;
}

/*Call-social-container*/
#call-social-container {
  background-color: #e0d2ef;
  height: 100vh;
  width: 100vw;
  padding: 10% 4% 10% 4%;
}

#call-social-container h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 5.4rem;
  padding-bottom: 1rem;
}

#call-social-container i {
  margin: 6.7% 5% 1% 28.1%;
}

/*Contact-container*/
#contact-container {
  height: 100vh;
  width: 100vw;
  background-color: #f0f1ff;
  padding: 8% 4% 8% 6%;
}

.contact-content-inputs {
  margin-left: 3rem;
  margin-top: 2%;
}

.contact-content-inputs input[type="text"],
input[type="textarea"],
input[type="email"] {
  background-color: #eae5ef;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.91rem;
  border-color: rgb(178, 174, 223);
}

.contact-content-inputs input[type="text"],
input[type="email"] {
  height: 3rem;
  display: inline;
  width: 45%;
}

.contact-content-inputs input[type="textarea"] {
  display: block;
  width: 91.6%;
  height: 10rem;
}

.contact-content-inputs button {
  display: block;
  background-color: rgb(178, 174, 223, 0.7);
  border-radius: 0.25rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3% 41%;
  padding: 1% 5% 1%;
  border-color: rgb(178, 174, 223, 0.7);
  cursor: pointer;
}

/*Thanks-container*/
#thanks-container {
  height: 10vh;
  width: 100vw;
  background-color: #e0d2ef;
  padding: 8% 4% 8% 4%;
}

#thanks-container h2 {
  font-family: var(--title-font);
  font-size: 6rem;
}

/*Footer-container*/
#footer-container {
  background-image: url("../images/roxoabstrato.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  width: 100vw;
  height: 60vh;
  padding: 8% 1% 8% 10%;
  display: grid;
  justify-content: center;
}

.footer-content {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.footer-content .sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

.footer-content .sci li,
.footer-content-links li {
  list-style: none;
}

.footer-content-links,
.footer-content-contact {
  position: relative;
  color: white;
}

.footer-content-links h2,
.footer-content-contact h2 {
  padding-bottom: 15px;
}

.footer-content-links ul li a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-content-contact ul {
  position: relative;
}

.footer-content-contact ul li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.footer-content-contact ul li span {
  color: rgb(207, 202, 202);
  font-size: 20px;
}

.footer-content-contact ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  width: 87%;
  padding: 20px 100px 30px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  border-top: 1px solid rgb(225, 198, 198);
}

.footer-content ul {
  margin-bottom: 4rem;
}

/*Breakpoints*/

@media screen and (max-width: 420px) {
  /*Cards*/
  .card-data {
    padding: 1rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }

  /*Footer*/
  footer {
    padding: 40px;
    height: 95vh;
  }
  #footer-container{
    height: 83vh;
  }
  .footer-content {
    position: relative;
    font-size: 1.7rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .footer-content .sci li i{
    color: white;
  }
  .copyright {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
  }  
}

@media screen and (min-width: 768px) {

  /*Cards*/
  .card-content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width: 1120px) {

  /*Cards*/
  .card-container {
    max-width: 1120px;
  }

  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }
}

@media screen and (max-width: 992px) {
  .navFluid ul {
    display: none;
  }

  header .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
  
}

@media screen and (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }

  /*Intro*/
  .intro-content h1 {
    margin-top: 15rem;
    font-family: var(--title-font);
    font-size: 7rem;
    color: white;
  }

  .intro-content i {
    width: 10rem;
    margin: 5%;
    color: white;
    font-size: 5rem;
  }

  .home-content-cv i {
    width: 10rem;
    margin: 3%;
  }

  /*Home-section*/
  #home-container {
    background-color: #f0f1ff;
    height: 100vh;
    width: 100vw;
    padding: 10% 4% 10% 4%;
    column-count: 1;
    column-gap: 0;
    column-rule: 0;
  }

  .home-content-profile img {
    border-radius: 44%;
    width: 40%;
    margin-left: 25%;
  }

  .home-content-profile h1 {
    padding-left: 4%;
    font-size: 6rem;
  }

  .home-content-profile p {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1.8rem;
    width: 100%;
    text-align: justify;
    line-height: 2.4rem;
  }

  .home-content-cv i {
    font-size: 4.6rem;
  }

  .home-content-cv p {
    font-size: 1.8rem;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  /*Formation-container*/
  .formation-content h2 {
    font-size: 4rem;
    text-align: center;
    padding-right: 0.1rem;
    padding-top: 10rem;
  }

  .formation-content i {
    position: fixed;
    bottom: 40px;
    right: 50px;
  }

  .formation-content-detail {
    padding-top: 20%;
    column-count: 1;
  }

  .formation-content-detail h3 {
    font-size: 2.6rem;
    text-align: center;
    padding-top: 4rem;
  }

  .formation-content-detail p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 4.3% 10%;
  }

  /*Projects-container*/
  #projects-container{
    height: 120vh;
  }
  .projects-content h2,
  .contact-content h2 {
    font-size: 4rem;
    text-align: center;
  }

  .projects-content-resume,
  .contact-content-resume {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: justify;
    padding: 5% 10% 5%;
  }

  /*Cards*/
  .card-img {
    width: 220px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }

  .card-name {
    font-family: var(--text-font);
    font-size: 1.8rem;
    color: rgb(49, 49, 137);
    margin-bottom: 0.75rem;
  }

  .card-description {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.75rem;
  }

  .card-button {
    padding: 0.9rem 2.5rem;
    font-size: 1.4rem;
  }

  /*Projects pages*/
  #Project-one,
  #Project-two,
  #Project-three,
  #Project-four {
    height: 120vh;
    width: 100vw;
    background-color: #f0f1ff;
    padding: 8% 4% 8% 4%;
    border-top: 20px solid plum;
    border-bottom: 20px solid plum;
  }

  #Project-one h2,
  #Project-two h2,
  #Project-three h2,
  #Project-four h2 {
    font-size: 3.4rem;
  }

  .Project-content {
    column-count: 1;
  }

  .Project-content p {
    font-family: var(--text-font);
    font-size: 1.8rem;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  .Project-content img {
    width: 80%;
    height: 40%;
  }

  /*Call-social-container*/

  #call-social-container{
    padding: 30% 4% 10% 4%;
  }
  #call-social-container h2 {
    font-size: 3rem;
    line-height: 5.4rem;
    padding-bottom: 0rem;
    padding-top: 4rem;
  }

  #call-social-container i {
    padding-left: 6rem;
    margin: 6%;
    font-size: 4.6rem;
  }

  /*Contact-container*/

  #contact-container {
    padding-top: 6rem;
    height: 110vh;
  }
  .contact-content-inputs form{
    padding-right: 3%;
  }
  .contact-content-inputs input[type="text"],
  input[type="textarea"],
  input[type="email"] {
    background-color: #eae5ef;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.91rem;
    border-color: rgb(178, 174, 223);
    font-size: 1.6rem;
    
  }

  .contact-content-inputs input[type="text"],
  input[type="email"] {
    height: 3rem;
    display: inline;
    width: 91.6%;
  }

  .contact-content-inputs button {
    margin: 7% 31%;
    padding: 1.3rem 2.5rem;
    font-size: 1.6rem;
  }

  /*Thanks-container*/
  #thanks-container {
    height: 12vh;
    width: 100vw;
    background-color: #e0d2ef;
    padding: 4% 2% 4% 2%;
  }
  #thanks-container h2 {
    font-family: var(--title-font);
    font-size: 5rem;
    text-align: center;
  }
  

}