/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap");

html{
  scroll-behavior: smooth !important; 
}
:root {
  --text-font: "Lato", sans-serif;
  --title-font: "Great Vibes", cursive;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  overflow-x: hidden;
  min-height: 200vh;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header*/
header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  font-family: var(--text-font);
}

header.sticky {
  padding: 15px 100px;
  background-color: rgb(151, 116, 188);
}

header.stickt ul li a {
  color: black;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600px;
  transition: 0.6s;
  font-size: 1.4rem;
}

/*Intro-section*/
#intro-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/roxoabstrato.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.intro-content {
  text-align: center;
  padding: 10%;
}
.intro-content h1 {
  font-family: var(--title-font);
  font-size: 10rem;
  color: white;
}
.intro-content h3 {
  padding-top: 4.3%;
  font-family: var(--text-font);
  font-size: 2.9rem;
  color: white;
}
.intro-content i,
.home-content-cv i{
  width: 10rem;
  margin: 3%;
}
.social-icons i:hover,
.home-content i:hover,
.formation-content i:hover
 {
  transition: ease-in-out 0.2s;
  text-shadow: 2px 2px rgb(139, 50, 247);
}

/*
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

#intro-container::after{
     content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(104, 68, 137);
    opacity: 0.5;
    z-index: -1;
}
*/

/*Home-section*/
#home-container {
  background-color: #f0f1ff;
  height: 100vh;
  width: 100vw;
  padding: 10% 4% 10% 4%;
  column-count: 2;
  column-gap: 50px;
  column-rule: 4px dotted rgb(112, 57, 164);
}
.home-content-profile img {
  border-radius: 44%;
  width: 55%;
  margin-left: 20%;
}
.home-content-profile h1 {
  font-family: var(--title-font);
  font-size: 10rem;
}
.home-content-profile p {
  font-size: 1.5rem;
  width: 60%;
  text-align: justify;
  line-height: 2.4rem;
}
.home-content-cv i {
  padding-left: 4%;
}
.home-content-cv p {
  font-size: 1.5rem;
  position: relative;
  display: inline;
  width: 50%;
}

/*Formation-container*/
#formation-container {
  height: 100vh;
  width: 100vw;
  background-color: #E0D2EF;
  padding: 10% 4% 10% 4%;
}
.formation-content h2 {
  font-size: 5rem;
  text-align: right;
  padding-right: 5%;
}
.formation-content i {
 position: fixed;
 bottom: 40px;
 right: 50px;
}
.formation-content-detail{
  padding-top: 17%;
  column-count: 2;
  column-gap: 50px;
  column-rule: 4px dotted rgb(112, 57, 164);
}
.formation-content-detail h3 {
  font-size: 3rem;
  text-align: center;
}
.formation-content-detail p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: center;
  padding: 4.3% 10%;
}

/*Projects-container*/
#projects-container{
  background-color: #f0f1ff;
  height: 100vh;
  width: 100vw;
  padding: 10% 4% 10% 4%;
}
/*Card*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  padding-block: 5rem;
}

.card-content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-image {
  position: relative;
  background-color: aquamarine;
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}

.card-data {
  background-color: antiquewhite;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card-img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card-shadow {
  width: 200px;
  height: 200px;
  background-color: bisque;
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card-name {
  font-size: var(--text-font);
  color: blue;
  margin-bottom: 0.75rem;
}

.card-description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card-button {
  display: inline-block;
  background-color: rgb(158, 107, 41);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: black;
  font-weight: 600;
}

/*Swiper class*/
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  visibility: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: blueviolet;
  display: none;
}

.swiper-button-prev {
  padding-left: 1rem;
  left: 0;
}

.swiper-button-next {
  padding-left: 20rem;
  right: 0;
}

/*Breakpoints*/
/*Cards*/
@media screen and (max-width: 420px) {
  .card-data {
    padding: 1rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .card-content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .card-container {
    max-width: 1120px;
  }

  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }
}